PORT=5001
API_PREFIX=api
USER_API=user
ADMIN_API=admin
NODE_ENV="development"

APP_BASE_URL=http://localhost:3000
BACKEND_BASE_URL=http://localhost:5001/api

# API_URL = "http://192.168.29.144"
# API_IMAGE_PREFIX = "images"

# DATABASE CONNECTION URL
# MONGODB_URL="mongodb+srv://addressguru_uae:addressguru123@addressguru.idkbcf0.mongodb.net/addressguru_db"
MONGODB_URL="mongodb://localhost:27017/addressGuruAE"



JWT_KEY=AddressGuru@AE
SECRET_KEY=anything

#Google Sign-in
GOOGLE_AUTH_URL=https://accounts.google.com/o/oauth2/v2/auth
GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_USERINFO_URL=https://openidconnect.googleapis.com/v1/userinfo

# Google Credentails
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

#Apple Sign-In
APPLE_AUTH_URL=https://appleid.apple.com/auth/authorize
APPLE_TOKEN_URL=https://appleid.apple.com/auth/token

# Apple Credentails
APPLE_CLIENT_ID=...        # Service ID
APPLE_TEAM_ID=...
APPLE_KEY_ID=...
APPLE_PRIVATE_KEY_PATH=/path/to/AuthKey_XXXXXXXX.p8


SMTP_EMAIL=""
SMTP_PASS=""
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465


FOURSQUARE_API_KEY = "<YOUR_FOURSQUARE_API_KEY>";